@import "nav";

body.index {
  background-image: url(../media/wallpaper-1.jpg);
  background-attachment: fixed;
}
body.noQueda {
  background-image: url(../media/wallpaper-2.jpg);
  background-attachment: fixed;
}
body.lista {
  background-image: url(../media/wallpaper-3.jpg);
  background-attachment: fixed;
}
